body {
    font-family: sans-serif;
}

h1{
    padding: 10px;
    border: 1px solid yellow;
    background-color: yellow;
    color: turquoise;
}

p{
    color: black;
    border: 5px solid blue;
}

footer img{
    background-color: orange;
    width:150px;
    height:150px;
    opacity: 0.8;
}

main img{
    width:780px;
    height:500px;
    background-color:purple;
}
